<div>
  <main id="question-page-wrapper">
    <div class="question-wrapper">
      <h1>{{this.model.question.title}}</h1>
      <p class="question-description" style="white-space: pre-wrap">{{this.model.question.content}}</p>
      <span class="poster-email">Posted by {{this.model.question.user_email}}</span>
      {{#if (eq this.model.userId this.model.question.user_id)}}
        <div class="owner-zone">
          {{#link-to "edit_question" this.model.question.id}}
            <button class="btn btn-primary">Edit</button>
          {{/link-to}}
          <button class="btn btn-danger" {{action "deleteQuestion" this.model.question.id}}>Delete</button>
        </div>
      {{/if}}
    </div>

    <div class="answer-box">
      <h1>Answers</h1>

      {{#if this.model.currentUser}}
        <div class="answer-question-form">
          <label for="answer">Answer the question</label>
          {{textarea id="answer" name="answer" value=content}}
          <button class="btn btn-primary" type="button" {{action "answerQuestion" content this.model.question.id}}>Answer</button>
        </div>
      {{/if}}

      <!-- TODO: Link to the proper destroy and edit actions -->
      {{#each this.model.question.answers as |answer|}}
        <div class="answer-wrapper">
          <p class="question-answer">{{answer.content}}</p>
          <span>By {{answer.user_email}}</span>
          {{#if (eq answer.user_id this.model.userId)}}
            {{#link-to "edit_answer" answer.id}}
              <span class="edit-answer-link">Edit</span>
            {{/link-to}}
            <button class="btn-danger" type="button" {{action "deleteAnswer" answer.id}}>
              <span class="delete-answer-link">Delete</span>
            </button>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </main>
</div>
